@import url('./reset.css');

.logo {
	font-size: 32px;
	font-weight: bold;
	margin: 10px;
}

.hsCategorys {
	max-width: 600px;
	margin: 0 10px;
}

.hsHandleCell {
	display: inline-block;
	width: 8px;
}

.hsCategoryName {
	width: 50%;
	border: none;
	font-size: 18px;
	font-weight: bold;
}

.hsWeightCell {
	font-size: 13px;
	font-weight: bold;
	margin: 0 20px;
}

.hsQtyCell {
	font-size: 13px;
	font-weight: bold;
	margin: 0 20px;
}